@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #001a33;
}

h1{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    align-self: center;
    color: #dddddd;

    text-shadow: 0px 0px 10px black;
}